{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRODUCT DETAILS</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <header>
      <article class="main_article">
        <h2 class="h2">F.C.T Abuja</h2>
        <address class="address">
          <a href="https://maps.app.goo.gl/VmZZdJzbJLHQYM5H9">
            No6 gaeron Crescent Dawaki</a
          >
        </address>
        {% if user.is_authenticated %}
        <h1 class="mine"><strong>Hello, {{ user.username }}</strong></h1>
        {% endif %}

        <img
          class="img__1"
          src="/media/products/Screenshot 2026-02-27 105049.png"
          alt="favicon"
          width="100"
          height="100"
        />

        <section class="header-title-line">
          <button class="menu-button"></button>
          <div class="menu-icon"></div>
        </section>
      </article>
      <nav>
        <ul class="list">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'cart' %}">Cart</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

          {% if user.is_authenticated %}

          <li>
            <a>
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form></a
            >
          </li>

          {% else %}

          <li><a href="{% url 'login' %}">Login</a></li>

          <li><a href="{% url 'register' %}">Register</a></li>

          {% endif %}
        </ul>
      </nav>
    </header>
    <body>
      <main>
        <h1><strong>Product Details</strong></h1>
        <div class="product-detail product-card">
          <img
            class="product-img"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
            width="300"
            height="300"
          />
          <h1>{{ product.name }}</h1>
          <p>${{ product.price }}</p>
          <p>{{ product.description }}</p>
          <a href="{% url 'shop'  %}">Back to Shopping</a>
          <!-- || here is where i would add to cart -->
        </div>
      </main>

      <footer class="milk">
        <p class="kick">
          &copy; <time id="year"></time> ICHASON Store. All rights reserved.
        </p>
      </footer>
    </body>
  </body>
</html>
