{% load static %} {% load socialaccount %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Register</title>
  </head>
  <body>
    <div class="container">
      <h2 class="item"><strong>Create Account</strong></h2>
      <img class="register_img" src="/media/products/Adobe.png" alt="" />

      <form method="POST">
        {% csrf_token %} {{ form.as_p }}

        <button class="button_class" type="submit">
          <strong>Register</strong>
        </button>
      </form>

      <p><strong>Already have an account?</strong></p>
      <p>
        <a class="button_class" href="{% url 'login' %}">Login</a> <br /><br />
        <a
          class="button_class nowrap"
          href="{% provider_login_url 'google' process='login' %}"
          >Sign-in with google</a
        >
      </p>
    </div>

    <footer>
      <p class="kick">
        &copy; <time id="year"></time> ICHASON Store. All rights reserved.
      </p>
    </footer>
  </body>
</html>
